body {
    margin: 0 auto;
    background-image: url(1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
   display: flex;
   align-items: center;
}
.nav-item {
 color: #FFF;
 text-decoration: none;
 font-weight: 500;
 font-size:  24px;
line-height: 28.8px;
text-align: center;
margin-right: 40px;
margin-top: 40px;
}
.name {
    color: #DB3138;
    font-size: 150px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    line-height: 125%;
    margin-top: 8%;
}
.text {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    color: #FFF;
    font-size: 40px;
    line-height: 48px;
    width: 800px;
    margin-left: 27.5%;
    margin-top: 100px;
}
.line1 {
    margin-top: 5%;
    border: 1px solid #FFFFFF;
}
.line2 {
    width: 190px;
    height: 0px;
    left: 640px;
    transform: rotate(-90deg);
    border: 1px solid #fff;
    margin-top: 95px;
    margin-left: 20%;
}
.line3 {
    width: 190px;
    height: 0px;
    left: 1280px;
    transform: rotate(-90deg);
    border: 1px solid #fff;
    margin-left: 60%;
}
.nav-g {
    margin-left: 15%;
    margin-top: 1%;
}
.down {
    position: relative;
}
.adres {
    color: #fff;
    width: 600;
    font-size: 18px;
    text-align: center;
    position: absolute;
    left: 0;
    margin-top: 222px;
    margin-bottom: 12px;
}
.adres_street {
    color: #DB3138;
    width: 600;
    font-size: 24px;
    text-align: center;
    position: absolute;
    left: 130px;
    margin-top: 250px;
    margin-bottom: 12px;
    width: 350px;
}
.adres_phone {
    color: #fff;
    width: 600;
    font-size: 18px;
    text-align: center;
    position: absolute;
    left: 629px;
    margin-top: 222px;
    margin-bottom: 12px;
}
.phone1 {
    color: #DB3138;
    width: 600;
    font-size: 24px;
    text-align: center;
    position: absolute;
    left: 749px;
    margin-top: 250px;
    margin-bottom: 12px;
    width: 350px;
}
.phone2 {
    color: #DB3138;
    width: 600;
    font-size: 24px;
    text-align: center;
    position: absolute;
    left: 749px;
    margin-top: 290px;
    margin-bottom: 12px;
    width: 350px;
}
.time {
    color: #fff;
    width: 600;
    font-size: 18px;
    text-align: center;
    position: absolute;
    left: 1229px;
    margin-top: 222px;
    margin-bottom: 12px;
}
.time1 {
    color: #DB3138;
    width: 600;
    font-size: 24px;
    text-align: center;
    position: absolute;
    left: 1355px;
    margin-top: 250px;
    margin-bottom: 12px;
    width: 350px;
}
.time2 {
    color: #DB3138;
    width: 600;
    font-size: 24px;
    text-align: center;
    position: absolute;
    left: 1355px;
    margin-top: 290px;
    margin-bottom: 12px;
    width: 350px;
}

.nav-услуги {
    background-color: #DB3138;
    padding: 15px 25px;
        color: #FFF;
        text-decoration: none;
        font-size:  24px;
        font-weight: 600;
        margin-left: 808px;
        margin-top: 50px;
    }
.romb {
    color:#DB3138;
    margin-left: 870px;
    margin-top: -260px;
}
.прямоугольник {
    margin-top: 70px;
}
.romb2 {
    color:#DB3138;
    margin-left: 899px;
    margin-top: -15.5px;
}
.romb3 {
    color:#DB3138;
    margin-left: 928px;
    margin-top: -15.5px;
}
.romb4 {
    color:#DB3138;
    margin-left: 957px;
    margin-top: -16px;
}
.romb4:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 1863px;
    background-color: #686868;
    top: 712px;
    left: 0px;
}
.romb4:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 256px;
    background-color: #686868;
    top: 839px;
    left: 532px;
    transform: rotate(-90deg);
}
.romb3:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 256px;
    background-color: #686868;
    top: 839px;
    left: 1117px;
    transform: rotate(-90deg);
}
